<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <title>Telexpar</title>
    <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide"

        });
    });
    </script>
    <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: false,
            itemWidth: 210,
            itemMargin: 5
        });
    });
    </script>
</head>

<body>
    <header>
        <div class="menu_nav_wrapper">
            <img class="logo_header" src="{% static 'img/logo_telexpar.png' %}" />
            <div class="contenedor_header_derecha">
                <div class="contenedor_contac_empresa">
                    <div class="cuadritos_header">
                        <a class="a_type" href="{% url 'siteoficial.views.institucional' %}">
                            <div class="header-cuadros">
                                <div class="empresa-telexpar-header">
                                </div>
                            </div>
                            <p class="texto_contac_empresa">La empresa</p>
                        </a>
                    </div>
                    <div class="cuadritos_header">
                        <a class="a_type" href="{% url 'siteoficial.views.exportacion' %}">
                            <div class="header-cuadros">
                                <div class="exportacion-telexpar-header">
                                </div>
                            </div>
                            <p class="texto_contac_empresa">Exportación</p>
                        </a>
                    </div>
                    <div class="cuadritos_header">
                        <a class="a_type" href="{% url 'siteoficial.views.contactos' %}">
                            <div class="header-cuadros">
                                <div class="contactos-telexpar-header">
                                </div>
                            </div>
                            
                            <p class="texto_contac_empresa">Contactos</p>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="cuadritos_header">
                        <a class="a_type" href="{% url 'siteoficial.views.login' %}">
                            <div class="header-cuadros">
                                <div class="login-telexpar-header">
                                </div>
                            </div>
                            <p class="texto_contac_empresa">Login</p>
                        </a>
                    </div>
                </div>
                <div class="contenedor_buscar_header">
                    <div class="form_contacto">
                        <input class="input_text" placeholder="Buscar">
                    </div>
                </div>
                <img class="logo_lupa" src="{% static 'img/boton_buscar.png' %}" onmouseover="this.src='{% static 'img/boton_buscar_0.png' %}';" onmouseout="this.src='{% static 'img/boton_buscar.png' %}';" />
            </div>
            <div class="clear"></div>
            <div class="menu_nav_wrapper2">
                <div class="cuadritos_opciones">
                    <a class="a_type" href="{% url 'siteoficial.views.index' %}">
                        <div class="inicio-telexpar-header">
                        </div>
                        <!--<img class="logo_opciones" src="{% static 'img/icono_inicio.png' %}" onmouseover="this.src='{% static 'img/icono_inicio_0.png' %}';" onmouseout="this.src='{% static 'img/icono_inicio.png' %}';" />-->
                        <p class="texto_opciones">Inicio</p>
                    </a>
                </div>
                <div class="cuadritos_opciones">
                    <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                        <div class="oficina-telexpar-header">
                        </div>
                        <p class="texto_opciones">Oficina</p>
                    </a>
                </div>
                <div class="cuadritos_opciones">
                    <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                        <div class="escolar-telexpar-header">
                        </div>
                        <p class="texto_opciones">Escolar</p>
                    </a>
                </div>
                <div class="cuadritos_opciones">
                    <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                        <div class="informatica-telexpar-header">
                        </div>
                        <p class="texto_opciones">Informática</p>
                    </a>
                </div>
                <div class="cuadritos_opciones">
                    <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                        <div class="limpieza-telexpar-header">
                        </div>
                        <p class="texto_opciones">Limpieza</p>
                    </a>
                </div>
                <div class="cuadritos_opciones">
                    <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                        <div class="juguetes-telexpar-header">
                        </div>
                        <p class="texto_opciones">Juguetes</p>
                    </a>
                </div>
                <div class="cuadritos_opciones">
                    <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                        <div class="cotillon-telexpar-header">
                        </div>
                        <p class="texto_opciones">Cotillón</p>
                    </a>
                </div>
                <div class="cuadritos_opciones">
                    <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                        <div class="ferreteria-telexpar-header">
                        </div>
                        <p class="texto_opciones">Ferretería</p>
                    </a>
                </div>
                <div class="cuadritos_opciones">
                    <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                        <div class="personalizado-telexpar-header">
                        </div>
                        <p class="texto_opciones">Personalizado</p>
                    </a>
                </div>
            </div>
        </div>
    </header>
    {% block content %} {% endblock %}
    <footer>
        <div class="final">
            <div class="inner-content-footer">
                <div class="contenedor_footer">
                    <p class="texto_suscribirse">SUSCRIBIRSE</p>
                    <p class="texto_newsletter">AL NEWSLETTER</p>
                    <form id="msform">
                        <div class="contenedor_newsletter">
                            <div class="form_contacto">
                                <input class="input_text_newsletter" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="contenedor_newsletter">
                            <div class="form_contacto">
                                <input class="input_text_newsletter" placeholder="e-mail">
                            </div>
                        </div>
                        <input type="image" class="buttom_enviar" src="{% static 'img/boton_enviar.png' %}" onmouseover="this.src='{% static 'img/boton_enviar_0.png' %}';" onmouseout="this.src='{% static 'img/boton_enviar.png' %}';">
                    </form>
                </div>
                <div class="contenedor_productos_footer">
                    <p class="texto_productos">PRODUCTOS</p>
                    <div class="contenedor_productos">
                        <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                            <img class="vinhetas_color_footer" src="{% static 'img/vineta_azul.png' %}" />
                            <p class="texto_productos_footer">Oficina</p>
                        </a>
                    </div>
                    <div class="contenedor_productos">
                        <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                            <img class="vinhetas_color_footer" src="{% static 'img/vineta_verde.png' %}" />
                            <p class="texto_productos_footer">Escolar</p>
                        </a>
                    </div>
                    <div class="contenedor_productos">
                        <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                            <img class="vinhetas_color_footer" src="{% static 'img/vineta_negra.png' %}" />
                            <p class="texto_productos_footer">Informática</p>
                        </a>
                    </div>
                    <div class="contenedor_productos">
                        <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                            <img class="vinhetas_color_footer" src="{% static 'img/vineta_celeste.png' %}" />
                            <p class="texto_productos_footer">Limpieza</p>
                        </a>
                    </div>
                    <div class="contenedor_productos">
                        <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                            <img class="vinhetas_color_footer" src="{% static 'img/vineta_roja.png' %}" />
                            <p class="texto_productos_footer">Juguetes</p>
                        </a>
                    </div>
                    <div class="contenedor_productos">
                        <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                            <img class="vinhetas_color_footer" src="{% static 'img/vineta_rosa.png' %}" />
                            <p class="texto_productos_footer">Cotillón</p>
                        </a>
                    </div>
                    <div class="contenedor_productos">
                        <a class="a_type" href="{% url 'siteoficial.views.oficina' %}">
                            <img class="vinhetas_color_footer" src="{% static 'img/vineta_naranja.png' %}" />
                            <p class="texto_productos_footer">Ferretería</p>
                        </a>
                    </div>
                </div>
                <div class="contenedor_empresa_footer">
                    <p class="texto_laempresa">INSTITUCIONAL</p>
                    <div class="contenedor_empresa">
                        <a class="a_type" href="{% url 'siteoficial.views.institucional' %}">
                            <img class="vinhetas_color_footer" src="{% static 'img/vineta_negra.png' %}" />
                            <p class="texto_productos_footer">La Empresa</p>
                        </a>
                    </div>
                    <!--<div class="contenedor_empresa">
                        <img class="vinhetas_color_footer" src="{% static 'img/vineta_negra.png' %}" />
                        <p class="texto_productos_footer">Quienes Somos</p>
                    </div>
                    <div class="contenedor_empresa">
                        <img class="vinhetas_color_footer" src="{% static 'img/vineta_negra.png' %}" />
                        <p class="texto_productos_footer">Misión</p>
                    </div>-->
                    <div class="contenedor_empresa">
                        <a class="a_type" href="{% url 'siteoficial.views.exportacion' %}">
                            <img class="vinhetas_color_footer" src="{% static 'img/vineta_negra.png' %}" />
                            <p class="texto_productos_footer">Exportacion</p>
                        </a>
                    </div>
                    <div class="contenedor_empresa">
                        <a class="a_type" href="{% url 'siteoficial.views.contactos' %}">
                            <img class="vinhetas_color_footer" src="{% static 'img/vineta_negra.png' %}" />
                            <p class="texto_productos_footer">Contactos</p>
                        </a>
                    </div>
                    <div class="contenedor_empresa">
                        <a class="a_type" href="{% url 'siteoficial.views.login' %}">
                            <img class="vinhetas_color_footer" src="{% static 'img/vineta_negra.png' %}" />
                            <p class="texto_productos_footer">Login</p>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="inner-content-footer">
                <div class="contenedor_info_contactos">
                    <img class="iconos_info_contactos" src="{% static 'img/icono_telefono.png' %}" />
                    <p class="texto_info_contactos">+595 21 440 992</p>
                </div>
                <div class="contenedor_info_contactos">
                    <img class="iconos_info_contactos" src="{% static 'img/icono_mail.png' %}" />
                    <p class="texto_info_contactos">ventas@click.com.py</p>
                </div>
                <div class="contenedor_info_contactos">
                    <img class="iconos_info_contactos" src="{% static 'img/icono_direccion.png' %}" />
                    <p class="texto_info_contactos">Luís Alberto de Herrera
                        <br>647 casi Antequera</p>
                    <p class="texto_localidad">Asunción - Paraguay</p>
                </div>
                <div class="contenedor_info_contactos">
                    <img class="iconos_info_contactos" src="{% static 'img/icono_facebook.png' %}" />
                    <p class="texto_info_contactos">Telexpar S.R.L</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </footer>
</body>

</html>
