{% extends 'siteoficial/base.html' %} {% block content %} {% load staticfiles %}
<div class="index5">
    <div class="inner_context_oficina">
    <p class="texto_titulo_exportacion">EXPORTACIÓN</p>
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                </li>
                <li>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                </li>
                <li>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                    <div class="contenedores_productos_interna_2">
                        <p class="texto_titulo_prod_slider">Agendas</p>
                        <img class="img_slider_interna" src="{% static 'img/lapicera.png' %}" />
                        <div class="contenedor_bordo_precio_interna">
                            <p class="texto_precios_interna">Gs. 192.000</p>
                        </div>
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_carrito.png' %}" />
                        <img class="img_carrito_interna_2" src="{% static 'img/boton_mas.png' %}" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clear"></div>
{% endblock %}
