
{% extends 'siteoficial/base.html' %}

{% block content %}
    <div class="index1">
        <div class="inner-content-flexslider">
            <div class="flexslider">
                <ul class="slides">
                    <li> <img style="display:block" src="static/img/libre4.jpg" width="100%" /> </li>
                    <li> <img style="display:block" src="static/img/libre2.jpg" width="100%" /> </li>
                    <li> <img style="display:block" src="static/img/libre1.png" width="100%" /> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="index2">
        <div class="inner-content-index">
            <img class="banner" src="static/img/banner_0.png" />
            
        </div>
    </div>
    <div class="index3">
        <div class="inner-content-index">
            <p class="texto_titulo_producto">PRODUCTOS</p>
            <p class="texto_maspopulares">MÁS POPULARES</p>
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                    </li>
                    <li>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider">
                            <p class="texto_titulo_prod_slider">Agendas</p>
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <div class="contenedor_bordo">
                                <p class="texto_precios">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                    </li>
                    <!--<li>
                        <div class="contenedores_productos_slider">
                            <p>AGENDAS</p>
                            <img src="static/img/lapicera.png" />
                        </div>
                    </li>
                    <li>
                        <div class="contenedores_productos_slider">
                            <p>AGENDAS</p>
                            <img src="static/img/lapicera.png" />
                        </div>
                    </li>
                     items mirrored twice, total of 12 -->
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="index4">
        <div class="inner-content-index">
        	<img class="banner" src="static/img/banner.png" />
            <p class="texto_titulo_producto">PRODUCTOS</p>
            <p class="texto_maspopulares">MÁS POPULARES</p>
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="contenedores_productos_slider_1">
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <p class="texto_titulo_prod_slider_2">Agendas</p>
                            <div class="contenedor_transparente">
                                <p class="texto_precios_negro">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito_2" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito_2" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider_1">
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <p class="texto_titulo_prod_slider_2">Agendas</p>
                            <div class="contenedor_transparente">
                                <p class="texto_precios_negro">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito_2" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito_2" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider_1">
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <p class="texto_titulo_prod_slider_2">Agendas</p>
                            <div class="contenedor_transparente">
                                <p class="texto_precios_negro">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito_2" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito_2" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider_1">
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <p class="texto_titulo_prod_slider_2">Agendas</p>
                            <div class="contenedor_transparente">
                                <p class="texto_precios_negro">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito_2" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito_2" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                    </li>
                    <li>
                        <div class="contenedores_productos_slider_1">
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <p class="texto_titulo_prod_slider_2">Agendas</p>
                            <div class="contenedor_transparente">
                                <p class="texto_precios_negro">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito_2" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito_2" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider_1">
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <p class="texto_titulo_prod_slider_2">Agendas</p>
                            <div class="contenedor_transparente">
                                <p class="texto_precios_negro">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito_2" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito_2" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider_1">
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <p class="texto_titulo_prod_slider_2">Agendas</p>
                            <div class="contenedor_transparente">
                                <p class="texto_precios_negro">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito_2" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito_2" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                        <div class="contenedores_productos_slider_1">
                            <img class="img_slider" src="static/img/lapicera.png" />
                            <p class="texto_titulo_prod_slider_2">Agendas</p>
                            <div class="contenedor_transparente">
                                <p class="texto_precios_negro">Gs. 192.000</p>
                            </div>
                            <img class="img_carrito_2" src="static/img/boton_carrito.png" onmouseover="this.src='static/img/boton_carrito_0.png';" onmouseout="this.src='static/img/boton_carrito.png';" />
                            <img class="img_carrito_2" src="static/img/boton_mas.png" onmouseover="this.src='static/img/boton_mas_0.png';" onmouseout="this.src='static/img/boton_mas.png';" />
                        </div>
                    </li>
                    <!--<li>
                        <div class="contenedores_productos_slider">
                            <p>AGENDAS</p>
                            <img src="static/img/lapicera.png" />
                        </div>
                    </li>
                    <li>
                        <div class="contenedores_productos_slider">
                            <p>AGENDAS</p>
                            <img src="static/img/lapicera.png" />
                        </div>
                    </li>
                     items mirrored twice, total of 12 -->
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}

