{% extends 'siteoficial/base.html' %} {% block content %} {% load staticfiles %}
<div class="index5">
    <div class="inner_context_oficina">
        <div>
            <img class="logo_seccion_producto" src="{% static 'img/icono_login.png' %}" />
            <p class="titulo_detalle_producto">La Empresa</p>
        </div>
        <img class="img_logo_institucional" src="{% static 'img/logo_telexpar_0.png' %}" />
        <div class="context_gral">
            <p class="texto_cabecera">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, nunc a mattis sagittis, sapien odio placerat ante, eget mattis neque sem sit amet dolor. Integer nec est velit. Maecenas gravida scelerisque nunc, in ullamcorper tortor. Ut venenatis lobortis sodales. Morbi ut erat quis lorem egestas aliquam. Curabitur iaculis magna odio, et aliquam est bibendum sed. Nullam faucibus magna lorem, a ultrices lacus pharetra id. Maecenas hendrerit nunc vitae sodales placerat. Proin sit amet sodales nisl. Sed suscipit purus tempor mauris lobortis accumsan. Aenean vestibulum mauris erat, quis lobortis risus bibendum vitae.</p>
            <div>
                <div class="izquierda_fotografia">
                    <img class="img_derecha" src="{% static 'img/personas.jpg' %}" />
                </div>
                <div class="derecha_texto">
                    <p class="texto_titulos_institucional">Historia</p>
                    <p class="texto_parrafo_institucional">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, nunc a mattis sagittis, sapien odio placerat ante, eget mattis neque sem sit amet dolor. Integer nec est velit. Maecenas gravida scelerisque nunc, in ullamcorper tortor. Ut venenatis lobortis sodales. Morbi ut erat quis lorem egestas aliquam. Curabitur iaculis magna odio, et aliquam est bibendum sed. Nullam faucibus magna lorem, a ultrices lacus pharetra id. Maecenas hendrerit nunc vitae sodales placerat. Proin sit amet sodales nisl. Sed suscipit purus tempor mauris lobortis accumsan. Aenean vestibulum mauris erat, quis lobortis risus bibendum vitae.
                        <br>
                        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, nunc a mattis sagittis, sapien odio placerat ante, eget mattis neque sem sit amet dolor. Integer nec est velit. Maecenas gravida scelerisque nunc, in ullamcorper tortor. Ut venenatis lobortis sodales. Morbi ut erat quis lorem egestas aliquam. Curabitur iaculis magna odio, et aliquam est bibendum sed. Nullam faucibus magna lorem, a ultrices lacus pharetra id. Maece</p>
                </div>
            </div>
            <div>
                <div class="izquierda_texto">
                    <p class="texto_titulos_institucional">¿Quiénes Somos?</p>
                    <p class="texto_parrafo_institucional">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, nunc a mattis sagittis, sapien odio placerat ante, eget mattis neque sem sit amet dolor. Integer nec est velit. Maecenas gravida scelerisque nunc, in ullamcorper tortor. Ut venenatis lobortis sodales. Morbi ut erat quis lorem egestas aliquam. Curabitur iaculis magna odio, et aliquam est bibendum sed. Nullam faucibus magna lorem, a ultrices lacus pharetra id. Maecenas hendrerit nunc vitae sodales placerat. Proin sit amet sodales nisl. Sed suscipit purus tempor mauris lobortis accumsan. Aenean vestibulum mauris erat, quis lobortis risus bibendum vitae.
                        <br>
                        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, nunc a mattis sagittis, sapien odio placerat ante, eget mattis neque sem sit amet dolor. Integer nec est velit. Maecenas gravida scelerisque nunc, in ullamcorper tortor. Ut venenatis lobortis sodales. Morbi ut erat quis lorem egestas aliquam. Curabitur iaculis magna odio, et aliquam est bibendum sed. Nullam faucibus magna lorem, a ultrices lacus pharetra id. Maece</p>
                </div>
                <div class="derecha_fotografia">
                    <img class="img_derecha" src="{% static 'img/personas.jpg' %}" />
                </div>
            </div>
            <div>
                <div class="izquierda_fotografia">
                    <img class="img_derecha" src="{% static 'img/personas.jpg' %}" />
                </div>
                <div class="derecha_texto">
                    <p class="texto_titulos_institucional">Misión</p>
                    <p class="texto_parrafo_institucional">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, nunc a mattis sagittis, sapien odio placerat ante, eget mattis neque sem sit amet dolor. Integer nec est velit. Maecenas gravida scelerisque nunc, in ullamcorper tortor. Ut venenatis lobortis sodales. Morbi ut erat quis lorem egestas aliquam. Curabitur iaculis magna odio, et aliquam est bibendum sed. Nullam faucibus magna lorem, a ultrices lacus pharetra id. Maecenas hendrerit nunc vitae sodales placerat. Proin sit amet sodales nisl. Sed suscipit purus tempor mauris lobortis accumsan. Aenean vestibulum mauris erat, quis lobortis risus bibendum vitae.
                        <br>
                        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, nunc a mattis sagittis, sapien odio placerat ante, eget mattis neque sem sit amet dolor. Integer nec est velit. Maecenas gravida scelerisque nunc, in ullamcorper tortor. Ut venenatis lobortis sodales. Morbi ut erat quis lorem egestas aliquam. Curabitur iaculis magna odio, et aliquam est bibendum sed. Nullam faucibus magna lorem, a ultrices lacus pharetra id. Maece</p>
                </div>
            </div>
            <div>
                <div class="izquierda_texto">
                    <p class="texto_titulos_institucional">Visión</p>
                    <p class="texto_parrafo_institucional">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, nunc a mattis sagittis, sapien odio placerat ante, eget mattis neque sem sit amet dolor. Integer nec est velit. Maecenas gravida scelerisque nunc, in ullamcorper tortor. Ut venenatis lobortis sodales. Morbi ut erat quis lorem egestas aliquam. Curabitur iaculis magna odio, et aliquam est bibendum sed. Nullam faucibus magna lorem, a ultrices lacus pharetra id. Maecenas hendrerit nunc vitae sodales placerat. Proin sit amet sodales nisl. Sed suscipit purus tempor mauris lobortis accumsan. Aenean vestibulum mauris erat, quis lobortis risus bibendum vitae.
                        <br>
                        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, nunc a mattis sagittis, sapien odio placerat ante, eget mattis neque sem sit amet dolor. Integer nec est velit. Maecenas gravida scelerisque nunc, in ullamcorper tortor. Ut venenatis lobortis sodales. Morbi ut erat quis lorem egestas aliquam. Curabitur iaculis magna odio, et aliquam est bibendum sed. Nullam faucibus magna lorem, a ultrices lacus pharetra id. Maece</p>
                </div>
                <div class="derecha_fotografia">
                    <img class="img_derecha" src="{% static 'img/personas.jpg' %}" />
                </div>
            </div>
            <div>
                <p class="texto_fabrica"> La Fábrica </p>
                <div class="conte_imagen_fabrica">
                    <img class="img_derecha" src="{% static 'img/fabrica.png' %}" />
                </div>
                <p class="texto_cabecera">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, nunc a mattis sagittis, sapien odio placerat ante, eget mattis neque sem sit amet dolor. Integer nec est velit. Maecenas gravida scelerisque nunc, in ullamcorper tortor. Ut venenatis lobortis sodales. Morbi ut erat quis lorem egestas aliquam. Curabitur iaculis magna odio, et aliquam est bibendum sed. Nullam faucibus magna lorem, a ultrices lacus pharetra id. Maecenas hendrerit nunc vitae sodales placerat. Proin sit amet sodales nisl. Sed suscipit purus tempor mauris lobortis accumsan. Aenean vestibulum mauris erat, quis lobortis risus bibendum vitae.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
