{% extends 'siteoficial/base.html' %} {% block content %} {% load staticfiles %}
<div class="inner_context_oficina">
    <img class="img_login" src="{% static 'img/imagen_login.png' %}" />
    <div>
        <div class="contenedor_login">
            <input class="input_text_login" placeholder="Usuario">
            </input>
        </div>
    </div>
    <div>
        <div class="contenedor_login">
            <input class="input_text_login" placeholder="Contraseña">
            </input>
        </div>
    </div>
</div>
{% endblock %}
